.btn2{
    /*background-color: cornflowerblue;*/
    width: 100%;
     background-color: cornflowerblue;
    color: black;
}
.btn{
   
    width: 100%;
}

.jumbotron {
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;

}
footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(3, 12, 29);
    margin-bottom: 0px;
    margin-top: 10px;
    color: azure;
}
.card-info{
    flex: 1 150px;
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
}
.footer-icono{
    padding-right: 10px;
}