$yellow : yellowgreen;
@mixin margenes($top,$bottom) {
    
    margin-top: $top;
    margin-bottom: $bottom;
}

.btn2{   
    width: 100%;
     background-color: cornflowerblue;
    color: black;
}
.btn{
   
    width: 100%;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px,10px);

}
footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(3, 12, 29);
    @include margenes(10px,0px);
    color: azure;
}
.card-info{
    flex: 1 150px;
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
}
.footer-icono{
    padding-right: 10px;
}